.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 840px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 841px) and (max-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1201px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.thumbnail-1{
  width: 100%;
  
}
.video-info-grid{
  display: grid;
  grid-template-columns: 40px 1fr;
}
.profile-pic{
  width: 36px;
  border-radius: 100px;
  margin-top: 7px;
}

.video-title{
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: 475px;
  margin-left: 5px;
}
.video-title:active{
  text-decoration: none;
}
.channel-info{
  color: rgb(170, 164, 164);
  margin-top: 0px;
  margin-left: 5px;
  font-size: 15px;
  margin-bottom: 0px;
}
.channel-views{
  color: rgb(170, 164, 164);
  margin-top: 3px;
  margin-left: 5px;
  font-size: 12px;
}
.thumbnail-row{
  position: relative;
}
.video-time{
  position: absolute;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
  font-size: 11px;
  bottom: 8px;
  right: 5px;
  padding-left: 6px;
  padding-right:8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 2px;
}